<% title "تعديل حساب الشركة"%>
<div class="page-head">
  <div class="content">
  <div class="breadcrumbs"> <h4>تعديل حساب الشركة</p></div>
<div class="row">
<div class="col-md-3 col-md-offset-4">
<div class="sign-progress">



    <!-- Nav tabs -->
    <ul class="nav" role="tablist">
      <li role="presentation" class="active contact"><a href="#contact_info" aria-controls="contact_info" role="tab" data-toggle="tab">١</a></li>
      <span class="split contact "></span>
      <li role="presentation"><a href="#company_info" aria-controls="company_info" role="tab" data-toggle="tab">٢</a></li>
    </ul>



</div>
</div>
</div>
</div>
</div>



<div class="company-sign-up content">

<%= render "form"%>
</div>
