      <% title "تعديل حساب باحث عمل"%>
      <div class="page-head registering">
        <div class="content">
        <div class="breadcrumbs"> <h4>تعديل حساب باحث العمل</h4></div>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="sign-progress">



    <!-- Nav tabs -->
    <ul class="nav" role="tablist">
      <li role="presentation" class="active contact-li"><a href="#contact_info" aria-controls="contact_info" role="tab" data-toggle="tab">١</a></li>
      <span class="split contact-li"></span>
      <li role="presentation " class="education-li"><a href="#education" aria-controls="education" role="tab" data-toggle="tab">٢</a></li>
      <span class="split education-li"></span>
      <li role="presentation"><a href="#experience" aria-controls="experiance" role="tab" data-toggle="tab">٣</a></li>
    </ul>



</div>
</div>
</div>
</div>
</div>



<div class="company-sign-up content">

  <%= render "form"%>
</div>
