<% title "باحثي العمل"%>
<div class="search-job-filter">
  <div class="content">
      <h2>باحثي العمل</h2>
    <div class="row">
          <%= render "applicants/applicant_search"%>
    </div>
  </div>
</div>
  <div class="content job-filter">


          <% if @applicants.any? %>
 <%= render "applicants/applicants_list"%>
<%else%>
          <div class="empty-content">
            <h1>لا يوجد أي باحث عمل بعد. <%= link_to "سجل كباحث عمل", new_applicant_registration_path %></h1>
          </div>
    <%end%>

  </div>


  <script type="text/javascript">
  jQuery(document).ready(function($) {
    $('select.job_condition').change( function() {
      if ($(this).val() == "experienced") {
        $('.experience').show();
        $('.graduation').hide();
      }
    else if ($(this).val() == "fresh-graduate") {
      $('.experience').hide();
      $('.graduation').show();
    }
  else {
    $('.experience').hide();
    $('.graduation').hide();
  }

  });
  });
  </script>
