<% title "وظائف للرجال فقط"%>
<div class="search-job-filter male">
  <div class="content">
      <h2>وظائف للرجال فقط</h2>
    <div class="row">
        <%= render "jobs/job_search"%>
    </div>
</div>
</div>

  <div class="content job-filter">

    <% if @jobs.count > 0 %>
        <%= render "/jobs/job_list"%>
    <% else %>
          <div class="empty-content">
            <h1>لم تسجل أي وظيفة بعد. <%= link_to "أضف وظيفة جديدة", new_job_path %></h1>
          </div>
    <%end%>


  </div>
