<% title "باحثات العمل"%>
<div class="search-job-filter female">
  <div class="content">
      <h2>باحثات العمل</h2>
    <div class="row">
      <%= render "applicants/applicant_search" %>
    </div>
  </div>
</div>
  <div class="content job-filter">


          <% if @applicants.any? %>
 <%= render "applicants/applicants_list"%>
<%else%>
          <div class="empty-content">
            <h1>لا يوجد أي باحث عمل بعد. <%= link_to "سجل كباحث عمل", new_applicant_registration_path %></h1>
          </div>
    <%end%>

  </div>
